<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>screens</key>
	<array>
		<string>play</string>
        <string>liked</string>
        <string>detail</string>
        <string>detail/contact</string>
        <string>detail/location</string>
        <string>config</string>
        <string>config/location</string>
        <string>config/likes</string>
        <string>config/discarded</string>
	</array>
	<key>events</key>
	<array>
		<string>play</string>
        <string>location</string>
        <string>clear</string>
        <string>call</string>
        <string>viewmore</string>
	</array>
	<key>actions</key>
	<array>
		<string>like</string>
        <string>no</string>
        <string>map</string>
        <string>list</string>
        <string>optin</string>
	</array>
</dict>
</plist>
