<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>MLM</string>
		<key>name</key>
		<string>Mexico</string>
		<key>apartment</key>
		<dict>
			<key>buy</key>
			<string>1480</string>
			<key>rent</key>
			<string>1479</string>
		</dict>
		<key>house</key>
		<dict>
			<key>buy</key>
			<string>1468</string>
			<key>rent</key>
			<string>1467</string>
		</dict>
	</dict>
    <dict>
        <key>id</key>
        <string>MLA</string>
        <key>name</key>
        <string>Argentina</string>
        <key>apartment</key>
        <dict>
            <key>buy</key>
            <string>1474</string>
            <key>rent</key>
            <string>1473</string>
        </dict>
        <key>house</key>
        <dict>
            <key>buy</key>
            <string>1468</string>
            <key>rent</key>
            <string>1467</string>
        </dict>
    </dict>
    <dict>
        <key>id</key>
        <string>MLC</string>
        <key>name</key>
        <string>Chile</string>
        <key>apartment</key>
        <dict>
            <key>buy</key>
            <string>1480</string>
            <key>rent</key>
            <string>6407</string>
        </dict>
        <key>house</key>
        <dict>
            <key>buy</key>
            <string>5628</string>
            <key>rent</key>
            <string>6406</string>
        </dict>
    </dict>
</array>
</plist>
