<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<string>https://api.mercadolibre.com</string>
	<key>search</key>
	<string>/sites/%@/search?</string>
	<key>token</key>
	<string>/oauth/token?grant_type=client_credentials&amp;client_id=%@&amp;client_secret=%@</string>
</dict>
</plist>
